*.html
build/lib.win-amd64-cpython-311/src/empire/commons/core/core.cp311-win_amd64.pyd

*.obj

src/empire_commons/commons/__pycache__/

src/empire_commons/core/core.c

*.pyc

*.so

*.o

.idea/

build/
